
.DS_Store
.prefs
.classpath
.project
.class
*.class
*.prefs
target/classes/application.properties
target/classes/META-INF/maven/cn.springsongs/song/pom.properties
target/classes/META-INF/maven/cn.springsongs/song/pom.xml
